@font-face {
  font-family: openhuninn;
  src: local("Openhuninn"), url(jf-openhuninn-1.1.ttf);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

body {
  padding-left: 20px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  background-image: url('bg1.png');
  background-repeat: no-repeat;
  background-size: cover; */

  background-attachment: fixed;
  background-position: center;
}

h1 {
  height: 10vh;
  font-family: 'openhuninn', 'Microsoft JhengHei';
  text-shadow: -1px -1px white, 1px 1px #333;
  font-weight: lighter;
  text-align: center;
  padding-top: 5vh;
  font-size: 42px;
  color: #ffffff;
}

h3 {
  height: 5vh;
  font-family: 'openhuninn', 'Microsoft JhengHei';
  text-shadow: -0.2px -0.2px white, 0.8px 0.8px #333;
  font-weight: lighter;
  text-align: center;
  padding-top: 2vh;
  color: #ffffff;
}

.introBtn {
  font-family: 'openhuninn', 'Microsoft JhengHei';
  background-color:transparent;
  border: none;
  color: blue;
  padding-top: 1  vh;
  padding-bottom: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  outline:none;
}

.introBtn:hover {
  font-family: 'openhuninn', 'Microsoft JhengHei';
  transition-duration: .2s;
  color: cornflowerblue;
}

.memory-game {
  height: 75vh;
  width: 80vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  margin-top: 0;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  /* -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .2)
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .2); */
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  border-radius: 5px;
  cursor: pointer;
}

.memory-card {
  background-image: url('card_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.memory-card:active {
  -webkit-transform: scale(0.97);
  -ms-transform: scale(0.97);
  transform: scale(0.97);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  -o-transition: transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.memory-card.flip {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 72%;
  padding: 20px;
  /* background: #909FA6; */
  position: absolute;
  border-radius: 5px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front-face {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.modal {
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  text-align: center;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */

  animation: change .6s;
}

@keyframes change{
  from{ opacity: 0%; }
  to{ opacity: 100%; }
}

/* Modal Content */
.modal-content {
  font-family: 'openhuninn', 'Microsoft JhengHei';
  font-weight: lighter;
  border-radius: 36px;
  line-height: 40px;
  font-size: 20px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  padding-right: 10px;
  font-size: 24px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
